<div class="equipamento-adicionar">
  <h2>{{ isEditMode ? 'Editar Equipamento' : 'Adicionar Equipamento' }}</h2>
  <form (ngSubmit)="adicionarEquipamento()">
    <div>
      <label for="tipo">Tipo:</label>
      <select [(ngModel)]="equipamento.tipo" name="tipo" required>
        <option value="desktop">Desktop</option>
        <option value="notebook">Notebook</option>
      </select>
    </div>
    <div>
      <label for="setor">Setor:</label>
      <input type="text" [(ngModel)]="equipamento.setor" name="setor" required>
    </div>
    <div>
      <label for="usuario">Usuário:</label>
      <input type="text" [(ngModel)]="equipamento.usuario" name="usuario">
    </div>
    <div>
      <label for="memoria_ram">Memória RAM:</label>
      <input type="text" [(ngModel)]="equipamento.memoria_ram" name="memoria_ram">
    </div>
    <div>
      <label for="armazenamento">Armazenamento:</label>
      <input type="text" [(ngModel)]="equipamento.armazenamento" name="armazenamento">
    </div>
    <div>
      <label for="id_teamviewer">ID do TeamViewer:</label>
      <input type="text" [(ngModel)]="equipamento.id_teamviewer" name="id_teamviewer">
    </div>
    <div>
      <label for="sistema_operacional">Sistema Operacional:</label>
      <input type="text" [(ngModel)]="equipamento.sistema_operacional" name="sistema_operacional">
    </div>
    <div>
      <label for="versao">Versão:</label>
      <input type="text" [(ngModel)]="equipamento.versao" name="versao">
    </div>
    <button type="submit">{{ isEditMode ? 'Editar' : 'Adicionar' }}</button>
  </form>
  <div class="add-button-container">
    <button class="add-button" routerLink="/equipamentos">Voltar à listagem</button>
  </div>
</div>
